body {
    background-color: antiquewhite;
}

.wrapper {
    border: 10px solid salmon;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.css-classes {
    background-color: rosybrown;
    font-size: default;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

.example1{
    height: 50px;
    width: 50%;
    background-color: rosybrown;
}

p{
    border-style: ridge;
    border-width: 3px;
    border-color: chocolate;
    
}